.banner-container,
.testimony-container,
.product-banner-container {
  background-color: #f0f6ff;
}
.banner-top-title {
  background-color: #d4edf9;
}
.our-work-icon {
  color: #79bf24;
  font-size: 19px;
  margin-right: 7px;
}
.ourwork-angle-down-icon {
  color: #1868c7;
  font-size: 21px;
}
.service-image {
  width: 100%;
  border-radius: 10px;
  box-shadow: -21px -24px #f0f6ff;
}
.star-icon {
  color: #e8b321;
}
.payment-card-img {
  width: 42px;
  margin-right: 5px;
  border-radius: 4px;
}
.primary-text {
  color: #084382;
}
.section-heading-bottom,
.section-heading-left {
  position: relative;
}
.section-heading-bottom::after,
.section-heading-left::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 4px;
  transform: translateX(-50%);
}
.section-heading-left::after {
  background: #1263b0;
  bottom: -47%;
  left: 11%;
}
.section-heading-bottom::after {
  background: #000;
  bottom: 0px;
  left: 50%;
}
.home-group-container {
  border: 1px solid #084382;
  border-radius: 5px;
}
.home-group-container h3 {
  font-size: 24px;
}
.home-group-text {
  /* width: 200px; */
  font-size: 10px;
}
.home-group-icon {
  width: 40px;
  height: 40px;
  background-color: #084382;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  border-radius: 50%;
}
.home-group-icon i {
  font-size: 25px;
}
.home-group-img {
  width: 65px !important;
  height: 65px !important;
  border-radius: 50%;
  background-color: #d2e8ff;
  overflow: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-group-img img {
  width: 27px;
}
.entry-type-container {
  background: #dedede;
  padding: 21px;
}
.login-form-div {
  width: 70%;
  margin: 0 auto;
}
label {
  color: #5b6b8c !important;
}
@media only screen and (max-width: 520px) {
  .login-form-div {
    width: 90%;
  }
}
